<% if users.exists? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media">
        <div class="media-body">
          <div>
            <%= render 'layouts/avatar', user: user %>
            <%= link_to user.username,user_path(user) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
  
  <% else %>
    <h3 class="list">ユーザーがいません</h3>
<% end %>