<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<h1><%= @user.username %></h1>
<!-- 存在の確認 -->
<% if @user.avatar.attached? %>
  <!-- 表示 -->
  <%= image_tag @user.avatar.variant(combine_options:{resize:"84x84^",crop:"84x84+0+0",gravity: :center}, strip: true).processed %>
<% end %>



<% if user_signed_in? && @user == current_user %>
 <%= link_to "プロフィール編集", edit_user_path(current_user) %>
<% end %>