<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<% if @user.avatar.attached? %>
# 画像が登録されている場合の処理
 <p><%= image_tag(rails_blob_path(@user.avatar),:size => "100x100") %></p>
<% else %>
# 画像が登録されていない場合の処理
 <p><%= image_tag("nonavatar.jpg", :size => "100x100") %></p>
<% end %>

<%= render 'relationships/follow_button', user: @user %>


<% if user_signed_in? && @user == current_user %>
 <%= link_to "プロフィール編集", edit_user_path(current_user) %>
<% end %>