<%= render 'layouts/flash_messages' %>
<div class="container-fluid">
  <div class="row">
    <img src="/assets/main_visual.jpg" alt="main_visual">
  </div>
  <h2>TOPIC</h2>
  <%= render 'posts/post', posts: @posts %>

</div>