  <% if user_signed_in? %>
    <%= render 'posts/post', posts: @posts %>

  <% else %>
    <div class="jumbotron jumbotron-extend">
      <div class="container-fluid jumbotron-container">
        <div class="row">
          <div class="col-8">
            <h2 class="site-name">Save the NewPlayers.</h2>
            <div class="site-introduction">
              Fender社CEOによるとギターを新規購入したギタリストの90%が1年以内にギターを辞めています
              <p>挫折するギタリストを減らしましょう！</p>
              
            </div>
            <h2 class="site-introduction2">
              <p>GGWPは練習を記録したりアドバイスをもらったりするサイトです</p>

            </h2>
          </div>
            <div class="col-4">
              <%= render 'toppages/login' %>
              
              <br>
              <%= render 'layouts/flash_messages' %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>


</div>