  <% if user_signed_in? %>
    <%= render 'posts/post', posts: @posts %>

  <% else %>
    <div class="jumbotron jumbotron-extend">
      <div class="container-fluid jumbotron-container">
        <div class="row">
          <div class="col-8">
            <h2 class="site-name">Save the NewPlayers.</h2>
            <div class="site-introduction">
              Fender社CEOによると初心者ギタリストの90%が1年以内にギターを辞めています
              <p>初心者ギタリストを助けましょう！</p>
              
            </div>
            <div class="site-introduction2">
              <h2>GGWPは<p>ギタリストのためのコミュニティサイトです</p></h2>
            </div>
          </div>
            <div class="col-4">
              <%= render 'toppages/login' %>
              
              <br>
              <%= render 'layouts/flash_messages' %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="about">OUR SERVICE</h2>
  <h3 class="about"><span>01</span>ログイン</h3>
  <h3 class="about"><span>02</span>投稿・コメント</h3>
  <h3 class="about"><span>03</span>フォロー</h3>
  <h3 class="about"><span>04</span>お気に入り</h3>
  <% end %>


</div>