/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
font-family: 'Noto Sans JP', sans-serif;
}

.navbar-brand {
  font-size:40px;
  font-family: 'Nixie One', cursive;
}

.container-login {
  max-width: 576px;
  padding: 2rem;
}

.navbar {
  height: 50px;
  padding: 0;
}

.navbar ul {
  /* flexboxでナビゲーションバーを横並び配置する */
  display: flex;
  /* 縦幅中央に配置する指定 */
  align-items: center;
  /* 横幅中央に配置する指定 */
  /*justify-content: center; */
  
  width: 100%;
  /* リストスタイルを削除 */
  list-style: none;
}
.navbar ul li {
  /* ナビゲーションメニュー同士の間隔を指定 */
  margin-left: 5%;
  margin-right: 5%;
}
.nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  /* アニメーション速度を指定 */
  transition: 0.3s ease-out;
}
.nav-item a:hover {
  /* hover後の文字の太さを指定 */
  font-weight: bold;
}


.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: url(top.jpg) no-repeat center center;
    background-size: cover;
}

.btn-black {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Avenir', serif;
}
.btn-black:hover {
     background-color: #fff;
     color: #000;
}

.pagenate{
  text-align:center;
}

.avatar{
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  }