// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h2.topic,h3.title {
  text-align: center;
  border-bottom: 3px solid #000;
}

.ari {
  text-align: center;
}

