// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jumbotron {
    color: white;
}

.site-name {
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}
.site-introduction {
    font-family: "Sawarabi Mincho"; 
}