// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jumbotron {
    color: white;
}

.site-name {
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}
.site-introduction {
    font-family: "Sawarabi Mincho"; 
}

h2.about {
  font-size: 30px;
  font-size: 3rem;
}

h3.about {
  position: relative;
  padding: 1.5rem 2rem 1.5rem 160px;
  border-bottom: 3px solid #000;
}

h3.about span {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-size: 5rem;
  line-height: 1;
  position: absolute;
  bottom: -1.6rem;
  left: 0;
}