<% if user.avatar.attached? %>
 <p class="avatar"><%= image_tag(rails_blob_path(user.avatar),:size => "100x100") %></p>
<% else %>
 <p class="avatar"><%= image_tag("nonavatar.jpg", :size => "80x80") %></p>
<% end %>
