<% if user.avatar.attached? %>
 <p class="avatar"><%= image_tag(rails_blob_path(user.avatar),:size => "50x50") %></p>
<% else %>
 <p class="avatar"><%= image_tag("nonavatar.png", :size => "50x50") %></p>
<% end %>
